<div>
  <div class="list-heading"><a href="#/">Localhost </a><div class="arrow-right"></div><a href="#/collections/{{unbound database_name}}">{{database_name}}</a></div>
	<table class="mainpage-table">
					<tr class="mainpage-table-row"><th>Collection Name</th>
							<th>Size</th>
							<th>Indexes</th>
					</tr>
					{{#each stats}}

					<tr class="mainpage-table-row"><td><a href="#/documents/{{unbound getdbName this.stats.ns}}/{{unbound sanitize undefined this.stats.ns}}" class="table-links">{{sanitize undefined this.stats.ns}}</a>
							<td>{{this.stats.size}}</td>
							<td>{{this.stats.nindexes}}</td>
					</tr>
					{{/each}}
				</table>
</div>
<div class="footer">
</div>