<div class="container">

  <div class="list-heading">
    {{#link-to 'databases'}}Databases{{/link-to}}
    <button class="new-button" {{action 'addCollection'}}>+ New Collection</button>
    <div class="arrow-right"></div>
    {{#link-to 'collections' controller.database}}{{controller.database}}{{/link-to}}
  </div>

  <div class="invisible" id='collection-copy-dialog'>Copy as:<br /><br />
  {{input valueBinding="controller.copyas" size="30"}}
  </div>

  <div class="invisible" id="newcollection-create">Enter the Collection name:<br /><br />
  {{input valueBinding="controller.newCollection" size="30"}}
  </div>

  <div class="invisible" id="collection-rename-dialog">Enter new name<br /><br />
  {{input valueBinding="controller.newName" size="30"}}
  </div>

  <div id="placeholder-confirm-drop-collection" class="invisible"> Honestly ? </div>
  {{input valueBinding="filterPhrase" class="documents-search-box" placeholder="type to filter... " }}
  {{view Mongoman.SimpleTableView rowView="SelectableCollectionRow" headers="controller.headers" rows="controller.content"}}
  {{partial 'widgets'}}
</div>

<div id="placeholder-confirm-drop-db" class="invisible"> Honestly ? </div>
</div>
