<div class="main-body">
<div>
  <div class="list-heading">
  	<a href="#/">Databases</a>
  	<button class="new-button" {{action 'addCollection'}}>+ New Collection</button>
  	<div class="arrow-right"></div>
  	<a href="#/collections/{{unbound database_name}}">{{database_name}}</a>
	</div>
	<div style="display:none;" id="newcollection-create">Enter the Collection name:<br /><br />
  	{{input valueBinding="content.newCollection" size="30"}}</div>
  {{#if this.isLoaded}}
	<table class="mainpage-table">
					<tr class="mainpage-table-row"><th>Collection Name</th>
							<th>Documents</th>
							<th>Avg Document Size</th>
							<th>Size</th>
							<th>Indexes</th>
					</tr>
					{{#each stats}}
					<tr class="mainpage-table-row"><td><a href="#/documents/{{unbound getdbName this.stats.ns}}/{{unbound sanitize undefined this.stats.ns}}" class="table-links">{{sanitize undefined this.stats.ns}}</a>
							<td>{{this.stats.count}}</td>
							<td>{{truncate this.stats.avgObjSize}}  bytes</td>
							<td>{{this.stats.size}}</td>
							<td>{{this.stats.nindexes}}</td>
					</tr>
					{{/each}}
	</table>
  {{else}}
    <img src="/spinner.gif" alt="spinner" width="25px;" height="25px;" style="margin-left:480px;margin-top:180px;"></img>
    <p style="margin-left:460px;">Just a sec ... </p>
  {{/if}}
<button class="drop-button" {{action 'dropDatabase'}}>Drop Database</button>
<div id="placeholder-confirm-drop-db" style="display:none;"> Honestly ? </div>
</div>
<div class="footer">
</div>