<div class="main-body" style="display:block;margin-top:50px;">
  <div class="list-heading">
  	<a href="#/">Databases</a>
  	<button class="new-button" {{action 'addDatabase'}}>+ New Database</button>
  </div>
  <div style="display:none;" id="newdb-create">Enter the Database name:<br /><br />
  	{{input valueBinding="content.newDbName" size="30"}}</div>
	<table class="mainpage-table">
					<tr class="mainpage-table-row">
							<th>Database Name</th>
							<th>Collections</th>
							<th>Size (in GB)</th>
							<th>Indexes</th>
					</tr>
					{{#each content.content}}
					<tr class="mainpage-table-row"><td><a href = '#/collections/{{unbound this.name}}' class="table-links">{{this.name}}</a>
							<td>{{this.collection_count}}</td>
							<td>{{this.size}}</td>
							<td>{{this.indexes}}</td>
					</tr>
					{{/each}}
	</table>
</div>
<div class="footer">
</div>