<div class="main-body">
  <div class="list-heading">
  	<a href="#/">Databases</a>
  	<button class="new-button" {{action 'addDatabase'}}>+ New Database</button>
  </div>
  <div style="display:none;" id="newdb-create">Enter the Database name:<br /><br />
  	{{input valueBinding="content.newDbName" size="30"}}</div>
  {{#if content.isLoaded}}
	<table class="mainpage-table">
					<tr class="mainpage-table-row">
							<th>Database Name</th>
							<th>Collections</th>
							<th>Size (in GB)</th>
							<th>Indexes</th>
					</tr>
					{{#each content}}
					<tr class="mainpage-table-row"><td><a href = '#/collections/{{unbound this.name}}' class="table-links">{{this.name}}</a>
							<td>{{this.collection_count}}</td>
							<td>{{this.size}}</td>
							<td>{{this.indexes}}</td>
					</tr>
					{{/each}}
	</table>
{{else}}
  <img src="/spinner.gif" alt="spinner" width="25px;" height="25px;" style="margin-left:480px;margin-top:180px;"></img>
  <p style="margin-left:460px;">Hang on ... </p>
{{/if}}
</div>
<div class="footer">
</div>