<div class="main-body">
  <div class="list-heading">
    <a href="#/">Databases</a>
    <button class="new-button" {{action 'addDatabase'}}>+ New Database</button>
  </div>
  <div style="display:none;" id="newdb-create">Enter the Database name:<br /><br />
    {{input valueBinding="content.newDbName" size="30" class="dialog-input-box"}}</div>
  <div style="display:none;" id="db-copy-dialog">Copy as:<br /><br />
    {{input valueBinding="controller.copieddbName" size="30"}}</div>
  <div style="display:none;" id="db-rename-dialog">Enter new name<br /><br />
    {{input valueBinding="controller.newName" size="30"}}</div>
  <div id="placeholder-confirm-drop-db" style="display:none;"> Honestly ? </div>
  {{#if controller.isLoaded}}
  <div class="table-and-widgets-container" style="display:flex;">
    <table class="mainpage-table">
            <tr class="mainpage-table-row">
                <th><div style="display:inline;border:none;margin-left:20px;"></div><span>Database Name</span></th>
                <th>Collections</th>
                <th>Size (in GB)</th>
                <th>Indexes</th>
            </tr>
            {{#each controller}}
            <tr class="mainpage-table-row" {{bind-attr class="selected:selected-row"}}>
              <td>
                {{view Ember.Checkbox checkedBinding="selected" class="database-selector-checkbox"  classNameBindings="selected:selected-row"}}
                {{#linkTo 'collections' name class="table-links"}}{{name}}{{/linkTo}}
              </td>
              <td>{{collection_count}}</td>
              <td>{{size}}</td>
              <td>{{indexes}}</td>
            </tr>
            {{/each}}
    </table>
    <div>
      {{partial 'widgets'}}
    </div>
  </div>
  {{else}}
  <div style="margin-left: inherit;margin-right: inherit;padding-top: 150px;padding-left: 370px;">
    <label>{{controller.statusText}}</label>
    <br>
    <img src="/spinner.gif" alt="spinner" style="padding:50px;" width="30" height="30"></img>
  </div>
  {{/if}}
<div class="footer">
</div>
