<div class="container">
  <div class="list-heading">
    {{#link-to 'databases'}}Databases{{/link-to}}
    {{input valueBinding="filterPhrase" class="documents-search-box" placeholder="type to filter... " }}
    <button class="new-button" {{action 'addDatabase'}}>+ New Database</button>
  </div>

  <div class="invisible" id="newdb-create">Enter the Database name:<br /><br />
    {{input valueBinding="controller.newDbName" size="30" class="dialog-input-box"}}
  </div>

  <div class="invisible" id="db-copy-dialog">Copy as:<br /><br />
    {{input valueBinding="controller.copieddbName" size="30"}}
  </div>

  <div class="invisible" id="db-rename-dialog">Enter new name<br /><br />
    {{input valueBinding="controller.newName" size="30"}}
  </div>

  <div id="placeholder-confirm-drop-db" class="invisible"> Honestly ? </div>
  {{view Mongoman.SimpleTableView rowView="SelectableRow" headers="controller.headers" rows="controller.content"}}
  {{partial 'widgets'}}
</div>
