<div >
	<div class="main-body" style="display:block;margin-top:50px;">
	<div class="list-heading"><a href="#/">Databases  </a> <div class="arrow-right"></div><a href="#/collections/{{unbound database_name}}">{{database_name}}</a><div class="arrow-right"></div>{{collection_name}}</div>
  <div id="content">
  		{{view Mongoman.DocumentsDisplayView}}
	</div>
  <div style="clear:both;"></div>
  	{{view Mongoman.PaginationView paginationBinding="controller.pagination"}}
<div class="footer">
</div>